*.yaml
!examples/*.yaml
!examples/**/*.yaml
!test-demo/*.yaml
!test-demo/**/*.yaml
*.exe
*.txt
Dockerfile
.dockerignore
CLAUDE.md
analysis.md
.vcli/
.gitignore
vcli
.DS_Store
./actual_requests/
settings.json
profiles.json
.env