<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <title>Azure Report</title>
  </head>
  <body>
		<div class="div container">
    <div class="row mt-3">
      <div class="col">
				<h2>Azure Backup Report</h2>
				<hr>
        <p>Version: {{ .Version }} | Worker Version: {{ .WorkerVersion }} | Server Name: {{ .ServerName }} | Azure Region: {{ .AzureRegion }} </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
				<table class="table">
        <thead>
          <tr>
            <th scope="col">Job Name</th>
            <th scope="col">Session ID</th>
            <th scope="col">Job Type</th>
            <th scope="col">Protected Instances</th>
            <th scope="col">Status</th>
            <th scope="col">Start time</th>
            <th scope="col">End time</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
				<tbody>
					{{ range .SessionInfo.Results}}
						<tr>
							<th scope="row">{{ .BackupJobInfo.PolicyName }}</th>
							<td>{{ .ID }}</td>
							<td>{{ .Type }}</td>
							<td>{{ .BackupJobInfo.ProtectedInstancesCount }}</td>
							<td>{{ .Status }}</td>
							<td>{{ df .ExecutionStartTime }}</td>
							<td>{{ df .ExecutionStopTime }}</td>
							<td>{{ dr .ExecutionDuration }}</td>
						</tr>
						{{ end }}
				</tbody>
			</table>
      </div>
    </div>

		<div class="row">
      <div class="col">
				<h3 class="mt-4">Logs</h3>
				{{ range .SessionLog}}
				<h5>Session ID: {{.JobSessionID}}</h5>
				<table class="table">
        <thead>
          <tr>
            <th scope="col">Log Time</th>
            <th scope="col">Status</th>
            <th scope="col">Message</th>
            <th scope="col">Start Time</th>
            <th scope="col">Duration</th>
          </tr>
        </thead>
				<tbody>
						{{ range .Log }}
						<tr>
							<th scope="row">{{ df .LogTime }}</th>
							<td>{{ .Status }}</td>
							<td>{{ .Message }}</td>
							<td>{{ df .ExecutionStartTime }}</td>
							<td>{{ dr .ExecutionDuration }}</td>
						</tr>
							{{ end }}
				</tbody>
			</table>
			{{ end }}
      </div>
    </div>
	</div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>